<div class="container py-3">
<p style="color: green"><%= notice %></p>

<div id="ingredients">
  <div class="container">
    <div class="row justify-content-md-center">
      <h1 class="text-center">Ingredients</h1>
      <% @ingredients.each do |ingredient| %>
        <div class="col col-sm-4">
          <%= render ingredient %>
           <%= link_to "Show", ingredient %>
        </div>     
      <% end %>
    </div>
    
    <div class="row justify-content-md-center">
      <h1 class="text-center">Dishes: </h1>
      <% @ingredients.each do |ingredient| %>
        <div class="mt-3 mb-3">
        <p>
          <% dishes = ingredient.dishes.to_a %>
          <% dishes.each do |dish|%>
            <%= dish.name %>
          <% end %> 
        </p>
        </div>
      <% end %>

    </div>

    <div class="mt-3 mb-3">
      <%= button_to "Заказать", root_path, class: "btn btn-primary" %>
      <%= link_to "New", new_ingredient_path %>|
    </div>
  </div>    
</div>
</div>

