<p style="color: green"><%= notice %></p>

<%= render @ingredient %>

<div>
  <%= link_to "New", new_ingredient_path %>
  <%= link_to "Edit", edit_ingredient_path(@ingredient) %> 
  <%= link_to "Back", ingredients_path %>

  <%= button_to "Destroy", @ingredient, method: :delete, class: "btn btn-primary" %>
</div>
